.mobileMenuIconButton {
    svg {
        top: 3px;
        position: relative;
    }
}

.salesOverviewChart {
    padding-bottom: 23px !important;
}

.loginLogoutButton {
    color: white;
    background: var(--main);
    &:hover {
        color: var(--main);
    }
}

.logoContainer {
    color: black;
    font-size: 24px;
    padding: 15px 22px;
    &.sidebarLogoContainer {
        padding: 22px 22px 15px;
    }
}

@media (max-width: 1200px) {
    .footerComponent {
        padding-bottom: 10px;
        padding: var(--sideSpace);
    }
}

@media (max-width: 768px) {
    .sidebarBottom {
        display: none;
    }
    .signInOptionsRow {
        span, a {
            font-size: 12px;
        }
    }
}

@media (max-width: 600px) {
    :root {
        --sideSpace: 16px;
    }
}

@media (max-width: 450px) {
    .geoDataFormTypesToggle {
        flex-direction: column;
    }
}

@media (max-width: 365px) {
    footer {
        grid-gap: 15px;
        flex-direction: column;
    }
}