$mobileMenuBreakPointS: 768px;
$mobileMenuBreakPointM: 992px;
$mobileMenuBreakPointL: 1200px;

:root {
    --space: 24px;
    --bg: #041b44;
    --teal: #3fa5e3;
    --main: #5D87FF;
    --cardBg: #04397b;
    --borderRadius: 7px;
    --fontColor: white;
    --darkSub: #1c2a49;
    --darkMain: var(--bg);
    --gameBlue: #00c2ff;
    --iconRight: #3DD9EB;
    --inputHeight: 42.25px;
    --iconLeft: var(--main);
    --tealLight: #49BEFF;
    --mainLight: #ecf2ff;
    --navyBlueBG: #071632;
    --darkBorder: #151515;
    --iconLeftOld: #615DFF;
    --lightBorder: #e5eaef;
    --defFontColor: #adb0bb;
    --cardBgViolet: #1c3c81;
    --defaultColor: #2A3547;
    --tealSuperLight: #3dd9eb;
    --drawerBorderOld: #152a37;
    --altMain: rgb(61 175 235);
    --drawerBorder: var(--cardBg);
    --lightRipple: rgba(0, 81, 255, 0.1);
    --darkRipple: rgba(93, 135, 255, 0.25);
    --mobileMenuBreakPointS: $mobileMenuBreakPointS;
    --mobileMenuBreakPointM: $mobileMenuBreakPointM;
    --mobileMenuBreakPointL: $mobileMenuBreakPointL;
    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
    --cardShadow: rgb(145 158 171 / 30%) 0px 1px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px !important;
}

.bgMain {
    background: var(--main) !important;
}

.borderRadius {
    border-radius: var(--borderRadius);
}

// .gridReset {
//     @extend .zeroImportant;
// }

// .MuiGrid-container {
//     @extend .gridReset;
//     grid-gap: var(--space);
//     width: 100% !important;
// }

// .MuiGrid-item {
//     @extend .gridReset;
// }

.MuiTooltip-arrow {
    color: var(--main);
}

.MuiTooltip-tooltip {
    background: var(--main);
}

.MuiTouchRipple-root {
    transition: var(--transition);
}

.MuiInputLabel-root {
    font-weight: 900;
    font-size: 15px;
}

.cardTitle {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--iconRight);
}

.headerToolBarRight {
    button {
        @extend .mainButton;
    }
}

.coordinateField {
    .MuiInputBase-root {
        max-width: 120px !important;
    }
}

.mobileMenuIconButton {
    &:hover {
        background: transparent !important;
        .MuiTouchRipple-root {
            background: transparent !important;
        }
    }
}

input {
    @extend .borderRadius;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: var(--inputHeight);
    max-height: var(--inputHeight);
    height: var(--inputHeight) !important;
}

.mainButton {
    background: var(--main);
    border: none !important;
    color: var(--fontColor) !important;
    &:not(.MuiIconButton-root) {
        padding-left: 15px;
    }
    svg {
        font-size: 25px !important;
        color: var(--fontColor) !important;
    }
    &:hover {
        background: var(--darkMain);
    }
}

.geoDataFormTypesToggle {
    width: 100%;
    border: none !important;
    .geoDataFormTypesToggleBtn {
        width: 100%;
        border-top: none;
        border-bottom: none;
        color: var(--fontColor);
        background: var(--darkMain);
        &.Mui-selected {
            background: var(--main);
        }
        &:not(.noBorder) {
            border-left: 1px solid var(--fontColor) !important;
        }
        &.first, &.last {
            border: none;
            &.first {
                border-left: none !important;
            }
        }
    }
}

// Theme Colors
body {
    &:has(.lightTheme) {
        --darkMain: var(--cardBg);
        --labelColor: var(--main);
        --drawerBorder: var(--fontColor);
        header {
            border-bottom: 1px solid var(--drawerBorder);
        }
        .logoContainer strong {
            color: var(--darkMain) !important;
        }
        .sidebarPaper {
            border-color: var(--drawerBorder);
        }
        .MuiListSubheader-root {
            color: var(--labelColor);
        }
        .MuiInputLabel-root {
            color: var(--labelColor);
        }
        button {
            &:hover {
                .MuiTouchRipple-root {
                    background: var(--lightRipple);
                }
            }
        }
    }

    &:has(.darkTheme) {
        --main: var(--altMain);
        --labelColor: var(--iconRight);
        background: var(--bg) !important;
        // Sidebar & Top Bar
        header {
            border-bottom: 1px solid var(--drawerBorder);
        }
        .fontColor {
            color: var(--fontColor);
        }
        // Menu
        // Menu Sub Headers
        .MuiListSubheader-root {
            color: var(--labelColor);
        }
        // Menu Active
        .MuiListItem-root {
            .MuiButtonBase-root {
                .menuIcon {
                    color: var(--labelColor);
                    transition: none !important;
                }
                &.Mui-selected {
                    background: var(--main);
                    &:not(:hover) {
                        .menuIcon {
                            color: var(--cardBg);
                        }
                    }
                }
            }
        }
        h1, h2, h3, h4, h5, h6, p {
            color: var(--fontColor);
        }
        .MuiInputLabel-root {
            color: var(--labelColor);
        }
        input {
            color: var(--fontColor);
            background: var(--darkMain);
        }
        // Navigation Links & Buttons
        .button {
            background: var(--altMain);
        }
        a, .actionBtn {
            @extend .darkItem;
        }
        .profileMenu {
            li, .MuiListItemIcon-root {
                @extend .darkItem;
            }
        }
        .noAccountBox {
            background: var(--darkMain) !important;
            .MuiButton-root {
                background: var(--teal);
                &:hover {
                    background: var(--bg) !important;
                }
            }
        }
        .geoDataFormTypesToggleBtn {
            color: var(--fontColor);
        }
        button {
            &:hover {
                .MuiTouchRipple-root {
                    background: var(--darkRipple);
                }
            }
        }
        .drawerContainer {
            border-right: 1px solid var(--drawerBorder);
        }
        .logoContainer {
            color: var(--fontColor);
        }
        .darkItem {
            transition: var(--transition);
            color: var(--fontColor) !important;
            &:hover {
                background: var(--darkMain) !important;
            }
        }
        .apexcharts-menu-icon {
            svg {
                path {
                    &:last-child {
                        fill: var(--fontColor);
                    }
                }
            }
        }
        .sidebarPaper, .mobileMenuPaper {
            border-color: var(--cardBg);
        }
        // Cards & Paper Sheets
        .MuiContainer-root, .apexcharts-tooltip, .apexcharts-tooltip-title {
            background: var(--bg) !important;
        }
        .apexcharts-menu {
            background: var(--cardBg);
            border-color: var(--teal);
            .apexcharts-menu-item {
                transition: var(--transition);
                &:hover {
                    background: var(--darkMain);
                }
            }
        }
        .apexcharts-tooltip, .apexcharts-theme-dark {
            border: 1px solid var(--teal) !important;
            .apexcharts-tooltip-title {
                border-bottom-color: var(--teal) !important;
            }
        }
        .MuiPaper-root {
            color: var(--fontColor) !important;
            background: var(--cardBg) !important;
        }
        th, td {
            border-color: var(--teal) !important;
        }
        .MuiTimelineConnector-root {
            background: var(--teal);
        }
    }
}