:root {
    --fieldHeight: 42px;
}

.fieldHeight {
    min-height: var(--fieldHeight);
    max-height: var(--fieldHeight);
}

.flexedField {
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    min-height: var(--fieldHeight);
}

.choiceButton {
    &.mainDark {
        background: var(--mainDark);
    }
    &.selected {
        .startIcon {
            color: var(--success);
            path {
                fill: var(--success);
            }
        }
    }
    &:hover {
        background: var(--main) !important;
    }
}

.MuiList-root {
    &:has(.selectItem) {
        background: var(--darkMain);
        .selectItem {
            transition: var(--transition);
            &.Mui-selected {
                background: var(--mainDark);
            }
            &:hover {
                background: var(--main);
            }
        }
    }
}

.selectField {
    @extend .flexedField;
    border-radius: 7px;
    background: var(--mainDark);
    justify-content: space-between;
    .MuiOutlinedInput-root {
        width: 100%;
    }
    .MuiSelect-select {
        width: 100%;
    }
    svg {
        path {
            fill: var(--main);
        }
    }
    .MuiInputBase-input {
        @extend .flexedField;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        justify-content: center;
    }
}